<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<div class="holder-wide">
    <div class="title">Projects</div>

    <table class="projects-table">
        <thead>
            <tr>
                <th>Project</th>
                <th>Module</th>
                <th>Due Date</th>
                <th>Completion Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>{{#each list}}
            <tr>
                <td>{{this.project1}}</td>
                <td>{{this.module}}</td>
                <td>{{this.dueDate}}</td>
                <td>{{this.comDate}}</td>
                <td> <a href="/pages/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    <a href="/pages/delete/{{this._id}}"
                        onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                            aria-hidden="true"></i></a>
                </td>
            </tr>{{/each}}</tbody>
    </table>
    <button class="button" data-clipboard-text="localhost:3000/pages/list"> Share projects</button>
    <div class="link">
        <a class="btn btn-secondary" href="/pages/home"><i class="fa fa-list-alt"></i> Home</a> or
        <a class="btn btn-secondary" href="/pages/addOrEdit"><i class="fa fa-plus"></i>Add Project</a> or
        <a class="btn btn-secondary" href="/pages/index"><i class="fa fa-list-alt"></i>Add Milestones</a>
    </div>
    <div class="link">
        <a class="btn btn-secondary" href="/pages/login">Log Out</a>
    </div>
</div>
<script>
    var clipboard = new ClipboardJS('.button');

    clipboard.on('success', function(e) {
        console.log(e);
		alert("Link has been copied! Send this to pupils so they can see!");
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>