<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a> Module List</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Coursework Project Title</th>
			<th>Module</th>
			<th>Due Date</th>
			<th>Completion Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>{{#each list}}
		<tr>
			<td>{{this.fullName}}</td>
			<td>{{this.module}}</td>
			<td>{{this.mobile}}</td>
			<td>{{this.city}}</td>
			<td> <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
				<a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
			</td>
		</tr>{{/each}}</tbody>
</table>
<div class="form-group"> 
    <a class="btn btn-secondary" href="/"><i class="fa fa-list-alt"></i> Milestones</a>
    <a class="btn btn-secondary" href="/employee/login"> Log Out</a>
</div>